.checkboxes{
    font-size: 14px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    margin: 20px;
}

.checkboxes-type{
    padding: 10px;
}

.type-header{
    padding: 5px;
    margin: 15px;
}

.check-item{
    padding: 2px;

}

@media (max-width: 640px) {
    .checkboxes{
        grid-template-columns: 1fr 1fr;
        margin: 10px;
    }
}