
.drink-grid{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: left;

    padding: 5px auto;
    column-gap: 15px;
    row-gap: 20px;

}

.drink-card{
    position: relative;
    height: 200px;
    width: 330px;
    margin: 20px auto;
    background-color: aqua;
}

.drink-card .drink-image{
    position: absolute;
    width:330px;
    height:200px;

}
.drink-card .drink-gradient{
    position: absolute;
    height: 200px;
    width: 330px;
    z-index: 1;
    padding:0px;
    margin: 0px;
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,0.8841737378545168) 0%, rgba(2,0,27,0.8309524493391106) 18%, rgba(1,0,17,0.5592437658657212) 31%, rgba(1,0,15,0.3071429255295869) 39%, rgba(0,0,0,0) 100%);
}

.drink-card .drink-text{
    color: white;
    z-index: 3;
    font-size: 16px;

}


.drinkButton {
    border: none;
    background-color: #C0D8C0;
    padding: 20px auto;
}

.drinkCard {
    background-color: #C0D8C0;
}

.overlay {
    position: absolute; /* Sit on top of the page content */
    display: show; /* Hidden by default */
    align-items: center;
    width: 60%; /* Full width (cover the whole page) */
    height: 60%; /* Full height (cover the whole page) */
    margin-top: 0px;
    background-color: rgba(0, 0, 0, 0.753); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
  }


@media (max-width: 768px) {
    .drink-grid{
        grid-template-columns: 1fr;
    }
}
