@media only screen and (max-width: 1024px) {
    .menu{
        background-color: var(--background-color);

        
    }
    
    .menu-items{

        
        padding-top: 30px;
    
    }
    
    .menu-item{
        text-decoration: none;
        
    
    }
    
    .menu-link{
        font-size: 22px;
        letter-spacing: 1.5px;
        text-decoration: none;
        color: var(--link-color);
    }
    
}